name: Build Go App

on:
  pull_request:
    paths:
      - cmd/arxiv-cli/*.go
      - go.mod
      - go.sum
      - internal/download/*.go

jobs:
  build-go:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Build package
        run: make build-go
